@import "@styles/variables";

.input {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.checkbox {
  margin: 15px;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.primary {
  margin: 8px 0;
  background-color: $white;
  border: 2px solid $black;
  border-radius: 12px;
  padding: 16px;
  font-size: 22px;
  font-style: normal;
}

.error {
  border-color: $red-error;

  &Text {
    position: absolute;
    top: -8px;
    left: 38px; /* Отступ от иконки до текста */
    background-color: $white;
    font-size: 18px;
    font-style: normal;
    line-height: 29px;
    padding: 2px 4px;
    color: $red-error;
    pointer-events: none;
  }
}
