.input {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 12px;
}

.checkbox {
  margin: 15px;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.primary {
  width: 100%;
  margin: 8px 0;
  background-color: var(--background);
  padding: 16px;
  font-size: 22px;
  font-style: normal;
  color: var(--primary-text);
}

.secondary{

}

.annotation {
  border-color: var(--error);
  border-bottom:2px solid #8E8E8E;
  &Text {
    border-bottom: #8E8E8E;
    position: absolute;
    top: -8px;
    left: 0; /* Отступ от иконки до текста */
    color: #8E8E8E;
    background-color: (--background);
    font-weight: 400;
    font-size: 1rem;
    line-height: 29px;
    padding: 2px 4px;
    pointer-events: none;
  }
}
