.input {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 12px;
}

.checkbox {
  margin: 15px;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.primary {
  width: 100%;
  margin: 8px 0;
  background-color: var(--background);
  padding: 16px;
  font-size: 22px;
  font-style: normal;
  color: var(--primary-text);
}

.error {
  border-color: var(--error);

  &Text {
    position: absolute;
    top: -8px;
    left: 38px; /* Отступ от иконки до текста */
    background-color: (--background);
    font-size: 18px;
    font-style: normal;
    line-height: 29px;
    padding: 2px 4px;
    color: var(--error);
    pointer-events: none;
  }
}
