.tag {
  background: var(--primaty-button);
  color: var(--secondary);
  width: fit-content;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  display: block;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 0.25rem;
  line-height: normal;
}
