@import "@styles/variables";

.input {
  display: flex;
  width: 358px;
  justify-content: center;
  align-items: center;
}

.primary {
  background-color: $white;
  border: 2px solid $black;
  border-radius: 12px;
  padding: 16px;
  font-size: 22px;
  font-style: normal;
}
