.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.small {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 1rem 1.25rem;
}

.medium {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
}

.primary {
  color: var(--technical-background);
  transition: 0.2s all;
  border-radius: 0.75rem;

  background-color: var(--success);

  &:disabled {
    cursor: auto;

    &:hover {
      box-shadow: none;
    }
  }
}

.icon {
  margin-left: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
}
