// ProfileIcon.module.scss
.userIconContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  .userIcon {
    cursor: pointer;
  }
  .username {
    font-weight: 500;
    font-size: 1.38rem;
    line-height: 132%;
    color: var(--primary-text);
  }
}
