* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Outfit', sans-serif;
    color: var(--primary-text);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

svg {
    stroke: var(--primary-text);
}

/*theme*/
:root[data-theme='light'] {
    /*system background*/
    --primary: #FFFFFF;
    --secondary: #EBEEF1;
    --modal-background: #ECECEC;
    --glossy-backgound: #11111133;

    /*text background*/
    --primary-text: #0C0C0C;
    --gray-text: #8E8E8E;

    /*secondary button*/
    --secondary-button: #111111;
    --secondary-button-hover: #363636;
    --secondary-button-active: #080808;
    --secondary-button-default-text: #FFFFFF;
    --secondary-button-disabled-text: #8E8E8E;


    /*system general styles*/
    --primaty-button: #7CD485;
    --primaty-button-hover: #BEEFC3;
    --primaty-button-active: #589D5F;
    --default-text: #111111;
    --disabled-text: #8E8E8E;
    /*delete button*/
    --delete-button: #A62828;
    --delete-button-hover: #E16161;
    --delete-button-active: #780000;
    --delete-button-primary-text: #FFFFFF;
    /*workout moods*/
    --postitve: #7CD485;
    --neutral: #E1D461;
    --negative: #A62828
}

:root[data-theme='dark'] {
    /*system background*/
    --primary: #0C0C0C;
    --secondary: #111111;
    --modal-background: #141415;
    --glossy-backgound: #11111133;

    /*text background*/
    --primary-text: #FFFFFF;
    --gray-text: #8E8E8E;

    /*secondary button*/
    --secondary-button: #111111;
    --secondary-button-hover: #363636;
    --secondary-button-active: #080808;
    --secondary-button-default-text: #FFFFFF;
    --secondary-button-disabled-text: #8E8E8E;

    /*system general styles*/
    --primaty-button: #7CD485;
    --primaty-button-hover: #BEEFC3;
    --primaty-button-active: #589D5F;
    --default-text: #111111;
    --disabled-text: #8E8E8E;
    /*delete button*/
    --delete-button: #A62828;
    --delete-button-hover: #E16161;
    --delete-button-active: #780000;
    --delete-button-primary-text: #FFFFFF;
    /*workout moods*/
    --postitve: #7CD485;
    --neutral: #E1D461;
    --negative: #A62828
}


:focus,
:active {
    outline: none;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--primary);
    font-size: 100%;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}

input::-ms-clear {
    display: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

button {
    padding: 0;
    cursor: pointer;
    text-align: start;
    color: inherit;
    border: none;
    background-color: transparent;
    font: inherit;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

input[type="checkbox"] {
    cursor: pointer;
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--primary-text);
    /* Not removed via appearance */
    margin: 0;
    width: 24px;
    height: 24px;
    font: inherit;
    color: currentColor;
    padding: 0;
    border: none;
    border-radius: 0.25rem;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input[type="checkbox"]::before {
    content: "";
    width: 18px;
    height: 18px;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--primary);
    /* Windows High Contrast Mode */
    background-color: CanvasText;

}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:disabled {
    --form-control-color: var(--gray-text);
    color: var(--primary);
    cursor: not-allowed;
}