* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Outfit', sans-serif;
    color: var(--primary-text);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

svg {
    stroke: var(--primary-text);
}

/*theme*/
:root[data-theme='dark'] {
    --background: #191A1B;
    --primary-text: #DFDFDF;
    --secondary: #111111;
    --modal-background: #141415;
    --delete-button: #A62828;
    --delete-button-hover: #E16161;
    --delete-button-active: #780000;
    --primaty-button: #7CD485;
    --primaty-button-hover: #BEEFC3;
    --primaty-button-active: #589D5F;
    --secondary-button-hover: #363636;
    --secondary-button-active: #080808;
    --button-text-disabled: #8E8E8E;
}

:root[data-theme='darkv2'] {
    --background: #0C0C0C;
    --primary-text: #DFDFDF;
    --secondary: #111111;
    --modal-background: #141415;
    --delete-button: #A62828;
    --delete-button-hover: #E16161;
    --delete-button-active: #780000;
    --primaty-button: #7CD485;
    --primaty-button-hover: #BEEFC3;
    --primaty-button-active: #589D5F;

    --secondary-button-hover: #363636;
    --secondary-button-active: #080808;
    --button-text-disabled: #8E8E8E;
}

:focus,
:active {
    outline: none;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--background);
    font-size: 100%;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}

input::-ms-clear {
    display: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

button {
    padding: 0;
    cursor: pointer;
    text-align: start;
    color: inherit;
    border: none;
    background-color: transparent;
    font: inherit;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}
