// colors
$green-light: #ccee5c;
$green-dark: #aada0f;
$green-pale: #e7f4bc;

$blue-dark: #344054;
$blue-light: #d9e0ea;
$black: #1e1e1e;
$grey-light: #8e8e8e;
$white: #ffffff;
$red-error: #ea4335;

// icons for button
$button-icon-apple: url('@assets/images/buttonIcons/apple_icon.svg');
$button-icon-google: url('@assets/images/buttonIcons/google_icon.svg');
