.sidebar {
  padding: 3rem 0.6875rem 1rem 0.6875rem;
  min-width: 18.5rem;
  position: fixed;
  z-index: 1;
  top: 30px;
  left: 0;
  overflow-x: hidden;

  &Title {
    color: var(--primary-text);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8125rem;
    margin-bottom: 1.25rem;
  }

  &Element {
    display: flex;
    padding: 0.5rem 0.75rem 0.625rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    border-radius: 0.625rem;
  }

  &Inactive {
    background-color: var(--background);
    color: var(--primary-text);
  }

  &Active {
    background-color: var(--primary-text);
    color: var(--background);
  }
}
