@import "@styles/variables.scss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .input {
        margin-bottom: 0;
    }

    .btn {
        margin-top: 2.25rem;
    }

    .accounts {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        width: 100%;
    }

    .restore {
        margin-top: 1rem;
        color: $grey-light;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        /* 161.111% */
        text-decoration-line: underline;
    }
    .checkbox{
        color: $black;
        font-size: 22px;
        font-weight: 400;
        line-height: 29px;
    }
}
.terms {
    color: $grey-light;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    margin-top: 2.25rem;

    &link {
        color: $black;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        text-decoration-line: underline;
    }
}