.dropdown {
  &Toggle {
    cursor: pointer;
    display: flex;
    background-color: var(--primary-text);
    width: 100%;
    padding: 0.5rem 0.75rem 0.625rem 2rem;
    gap: 0.625rem;
    align-items: flex-start;
    border-radius: 0.625rem;
    color: var(--background)
  }
  &Open {
    display: block;
  }
  &Element {
    cursor: pointer;
    display: flex;
    background-color: var(--background);
    width: 100%;
    padding: 0.5rem 0.75rem 0.625rem 2rem;
    gap: 0.625rem;
    align-items: flex-start;
    border-radius: 0.625rem;
    color: var(--primary-text)
  }
}