.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 22rem;

  .title {
    font-weight: 500;
    font-size: 2rem;
    color: var(--primary-text);
    margin-bottom: 1.5rem;
  }

  .description {
    font-weight: 500;
    font-size: 1rem;
    color: var(--gray-text)
  }

  .service {
    display: flex;
    margin-top: 1.5rem;
    gap: 1rem;
    align-items: center;
    &Text {
      font-weight: 400;
      font-size: 1rem;
      color: var(--primary-text);
    }
  }
  .btn{
    margin-top: 5rem;
    width: 100%;
  }
}