@import "@styles/variables";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.small {
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  padding: 5px 25px;
}

.medium {
  font-size: 22px;
  padding: 16px 100px;
}

.secondary {
  color: $black;
  transition: 0.2s all;
  border-radius: 12px;
  box-shadow: 0 0 0 0 $blue-dark;
  border: 2px solid $blue-dark;
  background-color: $white;
  &:hover {
    box-shadow: 4px 4px 0px 0px $blue-dark;
  }
  &:disabled {
    opacity: 0.4;
	cursor: auto;
    &:hover {
      box-shadow: none;
    }
  }
}

.primary {
  color: $black;
  background-color: $green-light;
  transition: 0.2s all;
  border-radius: 12px;
  box-shadow: 0 0 0 0 $green-dark;

  &:hover {
    box-shadow: 4px 4px 0px 0px $green-dark;
  }
  &:active {
    background-color: $green-dark;
  }
  &:disabled {
    cursor: auto;
    background-color: $green-pale;
    &:hover {
      box-shadow: none;
    }
  }
}
